/* This is stylesheet.css an external style sheet */
  	/* Style whole page */
body {
    background: linear-gradient(to bottom, #e0aecb, #7a60a8 70%);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 0;
}
/* Wrapper div controls width of entire layout */
#wrapper{
    background-color: white;
    width: 90%;
    min-width: 580px;
    max-width: 1400px;
    border: solid 1px silver;
    border-radius: 4px;
    margin: 10px auto;
}
/* Navigation bar  */
nav{
    width: 250px;
    float: right;
}

/* Navigation bar links (<a> tags) */
nav a{
    text-decoration: none;
    color: white;
    font-size: 115%;
}
 /* Main content below the header and navbar */
 main{
    padding: 8px;
}

footer{
    background-color: #3853a4;
    padding: 20px;
    min-width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.textbox{
    min-width: 80%;
    margin: 10px 0;
}

.decision{
    display: inline-flex;
    justify-content: space-between;
    min-width: 80%;
}

.buttons{
    background-color: #3853a4;
    color: white;
}

.return{
    color: #3853a4;
}

.vines{
    max-width: 100%;
    min-width: 100%;
}