/* This is stylesheet.css an external style sheet */
  	/* Style whole page */
header{
    background-color: #3853a4;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
body {
    background: linear-gradient(to bottom, #e0aecb, #7a60a8 70%);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 0;
}
form{
    display: grid;
    padding: 0 10%;
}
label{
    text-align: left;
}
/* Wrapper div controls width of entire layout */
#wrapper{
    width: 90%;
    min-width: 580px;
    max-width: 1400px;
    border-radius: 4px;
    
}
/* Navigation bar  */
nav{
    width: 250px;
    float: right;
}

/* Navigation bar links (<a> tags) */
nav a{
    text-decoration: none;
    color: white;
    font-size: 115%;
}
 /* Main content below the header and navbar */
 main{
    padding: 8px;
}

footer{
    background-color: #3853a4;
    padding: 20px;
    min-width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.textbox{
    min-width: 80%;
    margin: 10px 0;
}

.decision{
    display: inline-flex;
    justify-content: space-between;
    min-width: 80%;
}

.buttons{
    background-color: #3853a4;
    color: white;
    width: max-content;
}

.return{
    color: #3853a4;
}

.vines{
    max-width: 100%;
    min-width: 100%;
}
.symptomsForm{
    background-color: #7374b5;
    width: max-content;
    margin: auto;
}
.symptomsLine{
    display: inline;
}
.logo{
    height: 50px;
}
.selected{
    background-color: #ada9d4;
    align-self: stretch;
    align-content: center;
}