<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <title>Document</title>
</head>
<body>
    <h1>Create Account</h1>
    <form>
        <label for="Username">Username:</label><br>
        <input class="textbox" type="text" id="Username" name="Username"><br>
        <label for="Password">Password:</label><br>
        <input class="textbox" type="text" id="Password" name="Password"><br>
        <label for="ConPass">Confirm Password:</label><br>
        <input class="textbox" type="text" id="ConPass" name="ConPass"><br>
        <label for="SecurityQ">Security Question:</label><br>
        <select class="textbox" name="SecurityQ" id="SecurityQ">
            <option value="Q1">Q1</option>
            <option value="Q2">Q2</option>
            <option value="Q3">Q3</option>
            <option value="Q4">Q4</option>
          </select><br>
        <label for="Answer">Answer:</label><br>
        <input class="textbox" type="text" id="Answer" name="Answer"><br>
        <label for="ConAnswer">Confirm Answer:</label><br>
        <input class="textbox" type="text" id="ConAnswer" name="ConAnswer"><br>
        <div class="decision">
            <div class="return"><a href="/html/login.html" class="return">Back to Login</a></div>
            <input class="buttons" type="submit" value="Login">
        </div>
    </form>
    <img class="vines" src="/images/vines.png" alt="vines">
</body>
<footer>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
</footer>
</html>