ul{
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
}
.sources{
    color: #40047c;
    font-weight: bold;
}
.Rows{
    justify-content: space-evenly;
}
.boxleft{
    margin: 10px;
}
.boxright{
    margin: 10px;
}