.weekly-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days-container {
    display: grid;
    grid-template-columns: repeat(7, 140px);
    width: 100%;
    justify-content: center;
}

.logrow {
    display: grid;
    grid-template-columns: repeat(7, 140px);
    /* gap: 8px; */
    width: min-content;
    justify-content: center;
    justify-self: center;
    height: 200px;
    text-align: center;
    background-color:#3853a4;
    color:white;
    min-height: max-content;
}

.logday{
    border: 1px solid #40047c;
    padding: 0 5px;
}

.month-container {
    font-size: 24px;
    font-weight: 600;
    background-color: #7a60a8;
    width: 980px;
    padding: 10px 0;
    border: 1px solid #40047c;
    border-bottom: none;
    margin-left: 2px;
}

.day {
    width: 140px;
    height: 230px;
    background-color: #7a60a8;
    padding: 10px 0;
    border: 1px solid #40047c;
}

.day.highlight {
    background-color: #7374b5;
    font-weight: bold;
}

.date-container {
    display: flex;
    flex-direction: column;
}

.calendar-hr {
    height: 1px;
    background: #40047c;
    border: none;
    margin: 10px 0;
}

.vine-img-container {
    width: 100%;
    z-index: 99;
}

.vine-img {
    width: 100px;
}
.log{
    background-color: transparent;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #cf9cc6;
    text-decoration: none;
    font-size: small;
}