footer {
    /* background-color: #3853a4; */
    background-color: #40047c;
    padding: 20px;
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}